-- Adjusted SQLite dump for PostgreSQL compatibility
BEGIN TRANSACTION;

-- Users table
CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    email TEXT UNIQUE NOT NULL,
    password_hash TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
INSERT INTO users (id, email, password_hash, created_at) VALUES
(1, 'ghfg@GMAIL.COM', '$2b$10$HeEjdZ7sSlOwVB9O0njEdeKsjE.PjbVenwft3TLnNIjUSUciqRxma', '2026-01-24 20:51:22'),
(2, 'qwe@qwe.com', '$2b$10$kBt0iAGD7srOSkcfQPSjX.Vg3fCA662PrxQ4OXy6qK3eE/T4NSkOu', '2026-01-24 21:10:22');

-- User profiles table
CREATE TABLE user_profiles (
    user_id INTEGER PRIMARY KEY,
    goal TEXT CHECK(goal IN ('gain', 'lose', 'maintain')),
    target_calories INTEGER,
    height_cm INTEGER,
    weight_kg REAL,
    activity_level TEXT CHECK(activity_level IN ('low', 'medium', 'high')),
    allergies_json JSONB DEFAULT '[]',
    diet_type TEXT DEFAULT 'none',
    preferences_json JSONB DEFAULT '{}',
    age INTEGER,
    sex TEXT CHECK(sex IN ('male', 'female')),
    intensity_percent INTEGER DEFAULT 0,
    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE
);
INSERT INTO user_profiles (user_id, goal, target_calories, height_cm, weight_kg, activity_level, allergies_json, diet_type, preferences_json, age, sex, intensity_percent) VALUES
(1, NULL, NULL, NULL, NULL, NULL, '[]', 'none', '{}', NULL, NULL, 0),
(2, 'lose', NULL, 174, 80.0, 'medium', '[]', 'none', '{}', 24, 'female', -5);

-- User session data table
CREATE TABLE user_session_data (
    user_id INTEGER PRIMARY KEY,
    last_request_json JSONB,
    last_response_json JSONB,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE
);
CREATE TABLE daily_intake_logs (

    id SERIAL PRIMARY KEY,

    user_id INTEGER NOT NULL,

    date DATE NOT NULL, -- YYYY-MM-DD

    source_type TEXT CHECK(source_type IN ('generated_recipe','saved_food','manual')) DEFAULT 'manual',

    item_name TEXT NOT NULL,

    calories REAL NOT NULL,

    protein_g REAL,

    carbs_g REAL,

    fat_g REAL,

    servings REAL DEFAULT 1,

    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, image_url TEXT,

    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE

);
INSERT INTO daily_intake_logs VALUES(3,2,'2026-01-27','manual','Apple',500.0,20.0,10.0,10.0,1.0,'2026-01-27 21:42:58',NULL);
INSERT INTO daily_intake_logs VALUES(4,2,'2026-01-27','manual','Apple',500.0,20.0,10.0,10.0,1.0,'2026-01-27 21:42:58',NULL);
INSERT INTO daily_intake_logs VALUES(7,2,'2026-01-27','saved_food','sample',1000.0,40.0,10.0,NULL,1.0,'2026-01-27 21:58:52',NULL);
CREATE TABLE daily_activity_logs (

    id SERIAL PRIMARY KEY,

    user_id INTEGER NOT NULL,

    date DATE NOT NULL, -- YYYY-MM-DD

    steps INTEGER DEFAULT 0,

    active_minutes INTEGER,

    calories_burned REAL DEFAULT 0,

    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE

);
CREATE TABLE saved_foods (

    id SERIAL PRIMARY KEY,

    user_id INTEGER NOT NULL,

    name TEXT NOT NULL,

    calories REAL NOT NULL,

    protein_g REAL,

    carbs_g REAL,

    fat_g REAL,

    default_servings REAL DEFAULT 1,

    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE

);
INSERT INTO saved_foods (id, user_id, name, calories, protein_g, carbs_g, fat_g, default_servings, created_at) VALUES
(1, 2, 'sample', 1000.0, 40.0, 10.0, NULL, 1.0, '2026-01-27 21:58:48');

-- Create indexes
CREATE INDEX idx_users_email ON users(email);
CREATE INDEX idx_user_profiles_user_id ON user_profiles(user_id);
CREATE INDEX idx_daily_intake_user_date ON daily_intake_logs(user_id, date);
CREATE INDEX idx_daily_activity_user_date ON daily_activity_logs(user_id, date);
CREATE UNIQUE INDEX idx_daily_activity_user_date_unique ON daily_activity_logs(user_id, date);
CREATE INDEX idx_saved_foods_user ON saved_foods(user_id);

COMMIT;
